<h1>Sign Up</h1>

<%= form_for [:admin, @administrator] do |f| %>
  <% if @administrator.errors.any?%>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @administrator.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <%= render 'form' %>
  <p class="button"><%= f.submit %></p>
<% end %>

