@import "bootstrap";
@import "bootstrap-responsive";

#map img{
  max-width: none;
}

#map label{
  width: auto;
  display:inline;
}

/***** facility css ******/
.facility-true{
  width:27px;
  height:27px;
  background: url(image_path('check_icon.png')) no-repeat 0px -57px;
  display: block;
  text-indent: -9999px;
}

.facility-false{
  width:27px;
  height:27px;
  background: url(image_path('check_icon.png')) no-repeat 0px -27px;
  display: block;
  text-indent: -9999px;
}

/****** facility css end *******/

/****** amenity css ******/
.amenity-true{
  width:27px;
  height:27px;
  background: url(image_path('check_icon.png')) no-repeat 0px 0px;
  display: block;
  text-indent: -9999px;
}

.amenity-false{
  width:27px;
  height:27px;
  background: url(image_path('check_icon.png')) no-repeat 0px -27px;
  display: block;
  text-indent: -9999px;
}

/****** amenity css end *****/

/****** recreation css ******/
.recreation-true{
  width:27px;
  height:27px;
  background: url(image_path('check_icon.png')) no-repeat 0px -85px;
  display: block;
  text-indent: -9999px;
}

.recreation-false{
  width:27px;
  height:27px;
  background: url(image_path('check_icon.png')) no-repeat 0px -27px;
  display: block;
  text-indent: -9999px;
}

/****** recreation css end ******/

/***** wifi css *****/
.freewifi-true{
  width: 50px;
  height: 50px;
  background: url(image_path('wifi.jpg')) no-repeat -300px 0px;
  display: block;
  text-indent: -9999px;
}

.freewifi-false{
  width: 50px;
  height: 50px;
  background: url(image_path('wifi.jpg')) no-repeat -400px -50px;
  display: block;
  text-indent: -9999px;
}
/***** wifi css end *****/
