// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label {
 width: 60px;
}
div.search_map {
  height: 470px;
  background-image: url( /assets/japan_map.png);
  background-repeat: no-repeat;
  background-position: 80px 30px;
}

h4.search_map_title{
  background-color: blue;
  color: white;
}

form.main_search {
  width: 280px;
}

div.index_form_list{
  margin: 3px 0px;
}

div.name_pin{
  position:absolute;
}

div.name_pin button a{
  color: #fff;
}
/******* map category ********/
button.hokkaido{
  position:relative;
  top: 10px;
  left: 340px;
}

button.touhoku{
  position:relative;
  top: 90px;
  left: 300px;
}

button.koushinetu{
  position:relative;
  top: 220px;
  left: 165px;
}

button.hokuriku{
  position:relative;
  top: 185px;
  left: 75px;
}

button.toukai{
  position:relative;
  top: 260px;
  left: 25px;
}

button.kantou{
  position:relative;
  top:220px;
  left: 60px;
}

button.tokyo{
  position:relative;
  top: 255px;
  left: 0px;
}

button.hakone{
  position:relative;
  top: 290px;
  left: -60px;
}

button.osaka{
  position:relative;
  top: 235px;
  left: -340px;
}

button.kinki{
  position:relative;
  top: 275px;
  left: -400px;
}

button.tyugoku{
  position:relative;
  top: 235px;
  left: -520px;
}

button.shikoku{
  position:relative;
  top:275px;
  left: -580px;
}

button.kyusyu{
  position:relative;
  top: 295px;
  left: -700px;
}

button.okinawa{
  position:relative;
  top: 370px;
  left: -800px;
}
/**************************/
